@model E_zavetisce.Models.Notification

@{
    ViewData["Title"] = "Izbriši obvestilo";
}
<div class="p-3">
    <h1>Izbriši</h1>

    <h3>Si prepričan da želiš izbrisati?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <hr />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Body)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.FirstMidName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="NotificationID" />
            <input type="submit" value="Izbriši" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Nazaj na seznam</a>
        </form>
    </div>
</div>