@model E_zavetisce.Models.Notification

@{
    ViewData["Title"] = "Podrobnosti";
}
<div class="p-3">

    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />
    <p><b>@Html.DisplayNameFor(model => model.Employee): </b>@Html.DisplayFor(model => model.Employee.FirstMidName),
        <span class="date">@Html.DisplayFor(model => model.DateCreated)</span>
    </p>
    <p>@Html.DisplayFor(model => model.Body)</p>

    <div>
        @if (ViewData["isEmployee"] != null && (bool)ViewData["isEmployee"])
        {
            <a asp-action="Edit" asp-route-id="@Model?.NotificationID" class="btn btn-success">Uredi</a>
            <a asp-action="Delete" asp-route-id="@Model?.NotificationID" class="btn btn-danger">Izbriši</a>
        }
        <a asp-action="Index" class="btn btn-primary">Nazaj na seznam</a>
    </div>
</div>