@model IEnumerable<E_zavetisce.Models.Notification>

@{
    ViewData["Title"] = "Obvestila";
}

<div class="bg-dark text-white heading notifications">
    <h1 class="display-4 bg-dark">Obvestila</h1>
</div>
@if (ViewData["isEmployee"] != null && (bool)ViewData["isEmployee"])
{

    <a asp-action="Create" class="btn btn-primary mb-0 mt-3">Ustvari</a>

}
<div class="p-3 d-flex flex-wrap">
    <div>
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.NotificationID" class="text-reset text-decoration-none m-3">
                <div class="card-light p-3">
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                    <p><b>@Html.DisplayNameFor(model => model.Employee): </b>@Html.DisplayFor(modelItem =>
                    item.Employee.FirstMidName), <span class="date">@Html.DisplayFor(modelItem =>
                        item.DateCreated)</span>
                    </p>
                    <div class="lines-3">@Html.DisplayFor(modelItem => item.Body)</div>
                </div>
            </a>
        }
    </div>
</div>